body {
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1 {
    position: absolute;
    z-index: 2;
    font-size: 3em;
    color: black;
    pointer-events: none;
}

span {
    width: 250px;
    height: 250px;
    position: absolute;
    background: url('rainbow.jpeg'); /* Use your rainbow image here */
    pointer-events: none;
    border-radius: 50%;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: screen;
}
